.row__container{
    background-color: #E4E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.row_workoutcard{
    display: flex;
}

.row_options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;

}

h5{
   text-align: left;
    padding: 5px;
}