.WorkoutCard__conatainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 150px;
 
}

#time {
    font-size: 12px;
    font-weight: 400;
    margin-left: 40px;
}

.WorkoutCard__title {
    margin-left: 40px;
    font-size: 16px;
    font-weight: 500;
}
.WorkoutCard__info-coach {
    margin-top: 5px;
}

.WorkoutCard__info {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 16px;
    font-weight: 300;
}

button {
    margin-right: 10px;
    background-color: white;
    width: 110px;
    height: 32px;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: color 200ms ease-in;
}

button:hover {
    background-position: right center;
    background-image: linear-gradient(
        to right,
        #d31027 0%,
        #ea384d 51%,
        #d31027 100%
    );
    color: white;
    outline: none;
    border: none;
    transition: color 200ms ease-in;
}

.WorkoutCard__info-tilStart {
    font-size: 9px;
}

.WorkoutCard__info-container {
    display: flex;
    align-items: center;
    padding: 5px;
}
